[submodule "ros2_ws/src/indy7_ros2"]
	path = ros2_ws/src/indy7_ros2
	url = https://github.com/neuromeka-robotics/indy-ros2.git
[submodule "ai/lerobot/lerobot_upstream"]
	path = ai/lerobot/lerobot_upstream
	url = https://github.com/huggingface/lerobot.git
